## Exercise 1: Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [1]:
import pandas as pd
import numpy as np

In [2]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

In [3]:
exam = pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])
exam

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [4]:
#Alternate way 
#exam = pd.DataFrame(exam_data)
#exam.set_index([pd.Index(['a','b','c','d','e','f','g','h','i','j']),'name','score','attempts','qualify'])

## Exercise 2: Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.
##### Use Data from previous problem

In [5]:
#exam.info()
exam.loc[(exam['attempts']<2) & (exam['score'] >15)]

    name  score  attempts qualify
j  Jonas   19.0         1     yes

## Exerise 3: Change the value in row 'd' to 11.5
##### Use Data from previous questions

In [6]:
print("Original data frame: \n",exam)
exam.at['d','score']=11.5 # set the value at row d for column score to 11.5 , dataframe.at moifies the dataframe values instead of creating a view an modyfying the view only, which will happen when we use exam['score']['d']
print("\n Change the score in row 'd' to 11.5: \n", exam)

Original data frame:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

 Change the score in row 'd' to 11.5:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## Exercise 4: Write a Pandas program to calculate the sum of the examination attempts by the students.
data: d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}

In [7]:
print("sum of the examination attempts by the students :",exam['attempts'].sum())

sum of the examination attempts by the students : 19

# Exercise 5: Drop a list of rows from a specified DataFrame
data:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}

In [8]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
new_df=pd.DataFrame(d)
print("Original DataFrame :\n",new_df)
for i in range(1,len(new_df)):#since we need not remove 0th index, i am starting the range from 1
    #print(i,len(new_df))
    if i%2==0 :#2 and 4 are absoulte divideables
        #print(new_df.loc[i])
        new_df=new_df.drop(i)# will remove the row based on index value
print("New DataFrame after removing 2nd & 4th rows: \n",new_df)

Original DataFrame :
    col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
New DataFrame after removing 2nd & 4th rows:
    col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

## Exercise 6:  Check whether a given column is present in a DataFrame or not
###### data: 
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

In [9]:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
c_df=pd.DataFrame(d)
print("Please enter Column Name to be checked below :\n")
check=input()#dynamic input from user
if check in c_df:
    print(check,"is present in DataFrame.")
else:
    print(check,"is not present in DataFrame.")

Please enter Column Name to be checked below :

col1
col1 is present in DataFrame.

## Exercise 7: Get column index from column name of a given DataFrame

###### data: 
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

##### HINT: Try using a function called get_loc():
Syntax: 
dataframe.columns.get_loc()

In [10]:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
col_df=pd.DataFrame(d)
print("Original DataFrame :\n",col_df,"\n")
print("Please enter Column Name to be checked below :\n")
check=input()#dynamic input from user
if check in col_df:
    print("Index of input",check,"is",col_df.columns.get_loc(check))
else:
    print("Input column value '",check,"'is wrong. Please specify correct input")

Original DataFrame :
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Please enter Column Name to be checked below :

col1
Index of input col1 is 0

## Exercise 8: Write a Pandas program to select all columns, except one given column in a DataFrame.
###### Use same data as previous problem

In [11]:
print("Original DataFrame :\n",col_df,"\n")
print("Please enter Column Name to be ignored below :\n")
check=input()#dynamic input from user

print("All columns except ",check,"is :\n",col_df.loc[:,col_df.columns != check])

Original DataFrame :
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Please enter Column Name to be ignored below :

col2
All columns except  col2 is :
    col1  col3
0     1     7
1     2     8
2     3    12
3     4     1
4     7    11

## Exercise 9:  Write a Pandas program to remove last n rows of a given DataFrame.

In [39]:
print("Original DataFrame :\n",col_df,"\n")
print("Please enter number of rows to be ignored below :\n")
check=int(input())#dynamic input from user, changing to int type becuase it will be in str format by default which cannot be used in iloc 
#print(type(check))

print("\n","All rows except last",check,"rows is :\n",col_df.iloc[:-check])

Original DataFrame :
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Please enter number of rows to be ignored below :

3

 All rows except last 3 rows is :
    col1  col2  col3
0     1     4     7
1     2     5     8

## Exercise 10: Display the movies longer than 30 minutes and shorter than 360 minutes
use IMDB-Movie-Data.csv

In [57]:
movie_df = pd.read_csv("IMDB-Movie-Data.csv")
print("List of movies longer than 30 minutes and shorter than 360 minutes: \n",movie_df[['Title','Runtime (Minutes)']].loc[(movie_df['Runtime (Minutes)']>30) & (movie_df['Runtime (Minutes)']<360)],('Title','Runtime (Minutes)'))

List of movies longer than 30 minutes and shorter than 360 minutes:
                        Title  Runtime (Minutes)
0    Guardians of the Galaxy                121
1                 Prometheus                124
2                      Split                117
3                       Sing                108
4              Suicide Squad                123
..                       ...                ...
995     Secret in Their Eyes                111
996          Hostel: Part II                 94
997   Step Up 2: The Streets                 98
998             Search Party                 93
999               Nine Lives                 87

[1000 rows x 2 columns] ('Title', 'Runtime (Minutes)')